<footer>
<div>

    <div  >
        <div class="flex justify-center mt-15">
            <img  class="w-15 mr-5 " src="fb.svg" alt="">
            <img  class="w-15 mr-5" src="Group.svg" alt="">
            <img  class="w-15 mr-5" src="insta.svg" alt="">
            <img  class="w-15 ml-5" src="Linkedin.svg" alt="">
        </div>
        <div class="flex justify-center mt-5">
            <div>
                <p class="text-2xl text-[#21243D]">Copyright ©2020 All rights reserved </p>
            </div>
        </div>
    </div>
</div>
</footer>